
.custom-header {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.custom-add-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}
.btn-custom {
    background-color: #023b04; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}